.container-fluid {
  position: relative;
}
.jumbo, .game {
  height: 100%;
  width: 100%;
  position: relative;
}
.hot-zone {
  position: inherit;
  width: 100%;
 
}
.hover-zone, .hover-settings {
  position: absolute;
  
  width: inherit;
  color: #420420;
}
.hover-zone {
  height: 20px;
}
.hover-settings {
  /* transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); */
  overflow: hidden;
  margin: 0 1px;
  padding: 50px;
  right: -1px;
  box-sizing: border-box;
  background: hsla(0, 0%, 35%, 0.6);
  height: 300px;
}
.game-container {
  width: 100%;
  height: 100%;
  background-color: black;
  border: 1px solid black;
}
.settings {
  position: absolute;
  top: 44%;
  left: 44%;
}
.menu {
  display: flex;
}
.menu .menu-list {
  flex: 0 1 12%;
}
.menu .menu-content {
  flex: 0 1 88%;
  border-left: 1px solid white;
  padding: 0 38px;
  color: white;
}