.container-fluid {
  position: relative;
}
.jumbo {
  height: 100%;
  width: 100%;
}
.game-container {
  width: 100%;
  height: 100%;
  background-color: black;
}
.settings {
  position: absolute;
  top: 44%;
  left: 44%;
}